 $color-w: #fff;
 $bg-color: lightblue;
 $black:black;
 $green:green;
 $yelow:yellow;
 $lightblue:lightblue;
 $lightgrey:lightgrey;
 $red:red;
 $height: 100vh;
 $width: 100%;
 $width2:100px;
 $font-sz: 24px;
 $small-height:3px;



 


 